<h1>Listing <%= @messages.count %> messages</h1>

<table>
  <tr>
    <th>Nick</th>
    <th>Message</th>
    <th>Said At</th>
    <th>Action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.nick %></td>
    <td><%= auto_link message.message, mode=:all, link_attr=nil, skip_tags=nil %></td>
    <td class="time-string"><%= message.said_at.to_formatted_s(:long_ordinal) %></td>
    <td><%= message.action %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @messages %>
<%= link_to 'New Message', new_message_path %>
