<h1>Listing <%= @messages.count %> messages</h1>

<%= render partial: "shared/hourly_stats", locals: {hourly_stats: @hourly_stats, section_title: "Lines per hour"} %>

<table>
  <tr>
    <th>Nick</th>
    <th>Message</th>
    <th>Said At</th>
    <th>Action</th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.nick.name %></td>
    <td><%= auto_link message.message, mode=:all, link_attr=nil, skip_tags=nil %></td>
    <td class="time-string"><%= message.said_at.to_formatted_s(:long_ordinal) %></td>
    <td><%= message.action %></td>
    <td><%= link_to 'Show', message %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @messages %>
<%= link_to 'New Message', new_message_path %>
