<p id="notice"><%= notice %></p>

<p>
  <b>Nick:</b>
  <%= @message.nick.name %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Said At:</b>
  <%= @message.said_at %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
