<h1>Listing hostnames</h1>

<table>
  <tr>
    <th>Domain name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hostnames.each do |hostname| %>
  <tr>
    <td><%= hostname.domain_name %></td>
    <td><%= link_to 'Show', hostname %></td>
    <td><%= link_to 'Edit', edit_hostname_path(hostname) %></td>
    <td><%= link_to 'Destroy', hostname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hostname', new_hostname_path %>
