<p id="notice"><%= notice %></p>

<p>
  <h2>Domain name:</h2>
  <%= @hostname.domain_name %>
</p>

<p>
	<h2><%= pluralize(@hostname.nicks.count, "handle") %> used:</h2>
	<% @hostname.nicks.each do |nick| %>
	<%= link_to nick.name, nick %><br />
	<% end %>
</p>


<%= link_to 'Edit', edit_hostname_path(@hostname) %> |
<%= link_to 'Back', hostnames_path %>
