<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nick.name %>
</p>

<p>
  <b>Username:</b>
  <%= @nick.username %>
</p>

<p><%= @nick.hostnames.count %> Hostnames</p>
<p>
  <% @nick.hostnames do |h| %>
  <%= "#{h.domain_name}"%><br />
  <% end %>
</p>

<p><%= "#{@nick.messages.count} messages recorded."%></p>
<p>
  <% @nick.messages.each do |m| %>
  <%= "#{m.said_at.to_s} #{m.message}" %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_nick_path(@nick) %> |
<%= link_to 'Back', nicks_path %>
