<!DOCTYPE html>
<html>
<head>
  <title>QueryableIrcStats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="siteHeader">
      <h1>Queryable Sufficient Velocity IRC stats</h1>
      <%-# Found this nice example.  https://github.com/plataformatec/devise/wiki/How-To:-Add-sign_in,-sign_out,-and-sign_up-links-to-your-layout-template -%>
      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>

    <div id="leftColumn">
      <ul>
        <li><%= link_to "Messages", messages_path %></li>
        <li><%= link_to "Nicknames", nicks_path %></li>
        <li><%= link_to "Hostnames", hostnames_path %></li>
        <% if current_user && current_user.can_upload_log? -%>
        <li><%= link_to "Log Upload", log_file_path %></li>
        <% end -%>
      </ul>
    </div>

    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </div>
    
    <div id="footer">
      <p id="versionNumber">Version: <%= @revisionNumber %></p>
    </div>
  </div>
</body>
</html>
